.DS_Store
/Resources
/platform
/i18n
build.log
build
dist
npm-debug.log
tmp
.map
.project
.settings
Thumbs.db
.vscode/appc
extensions/SampleWidgetExtension/SampleWidgetExtension.xcodeproj
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules
package-lock.json
extensions/SampleWidgetExtension/SampleWidgetExtension.xcodeproj
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings
